.cabecalho {
    width: auto;
    height: 100px;
  }
  .carrinho {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("assets/carrinho.png");
    background-size: 50px;
    right: 20px;
  }
  .nome {
    position: absolute;
    left: 120px;
    font-size: 65px;
    text-align: left;
    color: #3675ba;
  }
  .logo {
    position: absolute;
    width: 100px;
    height: 60px;
    background-image: url("assets/OIP.jfif");
    background-size: 100px;
    top: 10px;
    left: 30px;
  }
  .qtdCarrinho {
    text-align: center;
    font-size: 30px;
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
  }
  .produtos {
    text-align: center;
    background-color: aliceblue;
  }
  .imgProdutos {
    height: 100px;
    width: 100px;
  }
  input {
    visibility: hidden;
  }